* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f1f1f1;
}

html,
body {
    background-color: #121212;
    font-family: "Poppins", sans-serif;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    user-select: none;
}

#quizContainer,
#landing,
#scoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #33333373;
    max-width: 350px;
    width: 100%;
    padding: 20px;
    gap: 15px;
    border-radius: 15px;
    border: 0.5px solid #f1f1f1;
    box-shadow: 0 0 50px 0.2px rgba(241, 241, 241, 0.4);
}

#landing button {
    padding: 8px 15px;
    background-color: #87ceeb;
    border-radius: 25px;
    border: 0.5px solid black;
    margin-bottom: 20px;
    box-shadow: 0 0 50px 0.2px rgba(241, 241, 241, 0.2);
    font: 600 20px Cabin sketch;
    color: black;
}

#landing h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#landing p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

#questionContainer h2 {
    font-size: 20px;
    margin: 20px;
}

#option {
    display: flex;
    margin: 10px auto;
    flex-direction: column;
    text-align: left;
    padding: 3px;
    gap: 15px;
    font: 700 20px Cabin sketch;
}

.button-group {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#option div {
    background-color: #87ceeb;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3s;
    text-align: center;
    border: 0.5px solid #f1f1f1;
    color: #1e1e1e;
}

#option div:hover {
    background: #f0f0f0;
    color: #141414;
    box-shadow: 0px 0px 14px 0.5px #ffffff;
}

svg {
    background-color: #87ceeb;
    color: #141414;
    padding: 4px;
    border-radius: 100px;
}

svg:hover,
button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 1px #f1f1f173;
}

#option div.selected {
    background: #000000 !important;
    border-color: #333 !important;
    transform: scale(1.06);
}

#option div.selected:hover {
    color: #f0f0f0;
}

#progressBarContainer {
    margin: 14px;
    border: 0.5px solid #f1f1f1;
    border-radius: 18px;
    padding: 3px;
    box-shadow: 0px 0px 5px #f0f0f073;
}

#progressBarFill {
    font-size: 10px;
    border-radius: 15px;
    padding: 5px;
}

#downloadButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.neon-shadow {
    position: absolute;
    top: -10px;
    left: 0px;
    right: 0px;
    bottom: -9px;
    border-radius: 19px;
    background: linear-gradient(98deg,
            rgba(14, 0, 255, 1) 0%,
            rgba(124, 0, 255, 1) 13%,
            rgba(184, 0, 255, 1) 26%,
            rgba(230, 0, 233, 1) 43%,
            rgba(113, 0, 204, 1) 57%,
            rgba(69, 0, 179, 1) 75%,
            rgba(14, 0, 255, 1) 100%);
    background-size: 400% 400%;
    filter: blur(15px);
    opacity: 0.4;
    z-index: -1;
    animation: neonGlow 4s linear infinite;
}

@keyframes neonGlow {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-up,
.neon-wrapper {
    animation: slideUp 0.7s ease-in-out;
  }
